<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="style2.css" />
		<link rel="stylesheet" media="only screen and (max-width: 480px)" href="grid2.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="style1.css" />
		<link rel="stylesheet" media="only screen and (min-width: 481px)" href="grid.css" />
	</head>
	
	<body>
	
		<div class="header">
			<div class="container_12">
				<div class="topButton"><a href="/main">Home</a></div>
				<div class="topButton"><a href="/songs">Songs</a></div>
				<div class="topButton"><a href="/other">Drinking</a></div>
				<div class="topButton"><a href="/euro">Eurovision</a></div>
				<div class="topButton"><a href="/about">About</a></div>
				<div class="topButton"><a href="/contact">Contact</a></div>
			</div>
		</div>
		
		<div class="container_8 main">
			<div class="grid_8">
				<div class="content1">
		
					<!-- app/views/users/login.html.erb -->
					<br/><div class="headero">Log in</div>
					<%= form_tag :action => 'process_login' %>
					<center><p>
					<%= label_tag :email %><br />
					<%= text_field_tag :email, params[:email] %>
					</p>
					<p>
					<%= label_tag :password %><br />
					<%= password_field_tag :password %>
					</p>

					<%= submit_tag "log in"%></center>
					<br/>
					<center>
					<%flash.each do |name,msg|%>
						<%=content_tag :div,msg,:id=>"flash#{name}"%>
					<%end%>
					</center>
					
				</div>
			</div>
		</div>
	</body>
</html>